<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="n1">
		<select v-model="opt">
			<option value="+">+</option>
			<option value="-">-</option>
			<option value="*">*</option>
			<option value="/">/</option>
		</select>
       <input type="text" v-model="n2">
		<input  type="button" value="=" @click="calc">
		<input typr="text" v-model="result">
	</div>
  <script>
  	var vm=new Vue({
  		el:"#app",
  		data:{
  			n1:0,
  			n2:0,
  			result:0,
  			opt:"+"
  		},
  		methods:{
  			calc(){//计算器算术的方法
  			 switch(this.opt){
  			 	case '+':
  			 	  this.result=parseInt(this.n1)+parseInt(this.n2)
  			 	  break;
  			 	case '-':
  			 	 this.result= parseInt(this.n1)-parseInt(this.n2)
  			 	  break;
  			 	case '*':
  			 	  this.result=parseInt(this.n1)*parseInt(this.n2)
  			 	  break;
  			 	case '/':
  			 	  this.result=parseInt(this.n1)/parseInt(this.n2)
  			 	  break;
  			 	  //也可用eval
  			  }
             
           }
  		}
  	})
  </script>	
</body>
</html>
